version: '3.7'
services:
  postgres-dev:
    image: postgres:11.5
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      TYPE: server
      POSTGRES_DB: jobby
      POSTGRES_USER: jobby
      POSTGRES_PASSWORD: MYSzQr7fUxa8rSag
